@use '../../../../styles/mixin' as mix
@use '../../../../styles/variables' as var
@use '../../../../styles/mapping' as mapped
@use 'sass:map'

.pageTech
    @include mix.display-relative
    
    height: 100%
    width: 100%

    &::before
        @include mix.gradient-border(40deg, rgba(255, 0, 0, 0.5), rgba(0, 68, 255, 0.5), 40%, rgba(255, 0, 0, 0.5), 90%, 2px)

.formPageTech
    @include mix.display-relative

    justify-content: center
    align-items: center
    height: 100%
    width: 100%    

.typographyGrid
    @include mix.display-relative
    
    min-height: 5rem
    justify-content: center   
    align-items: center
    border: 1px solid map.get(mapped.$mapped-colors, 'red') 

.table
    @include mix.display-relative

    overflow-y: hidden
    overflow-x: hidden
    height: auto
    width: 100%   

.table_Btn
    @include mix.display-relative
    
    // background-color: rgba(255, 255, 255, 0.1)
    flex-direction: row
    width: 100%
    height: 14rem
    justify-content: flex-end
    align-items: flex-end

.logout
    @include mix.display-relative
    
    // background-color: rgba(100, 100, 100, 0.5)
    justify-content: flex-start
    align-items: center
    height: 5rem
    width: 30%

.radio_group
    @include mix.display-relative

    width: 40%
    height: 100%
    // background-color: rgba(100, 100, 100, 0.5)

.box_btn
    @include mix.display-relative
    
    justify-content: flex-end
    // background-color: rgba(100, 100, 100, 0.5)
    height: 3rem
    width: 30%