.page {
  --background: #000000;
  --foreground: #0f0f0f;
  --border-rounded: 8px;
  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: transparent;
  border-radius: var(--border-rounded);
}

.welcome {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  /* bordo trasparente per lasciare spazio al gradient */
  padding: 0;
  border: 1px solid transparent;
  border-radius: 8px;

  /* sfondo del contenitore: trasparente */
  background: transparent;

  /* importante per isolare il contenuto dal bordo */
  background-clip: padding-box;
}

.welcome::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1.5px; /* spessore del bordo */

  /* gradient del bordo */
  background: linear-gradient(
    -24deg,
    rgb(255, 255, 255) 0%,
    rgba(100, 100, 100, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* maschera per mostrare SOLO il bordo */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none;
}
